version: '3.8'

services:
    django:
      build:
        context: .
        dockerfile: Dockerfile
      volumes:
        - .:/app
      ports:
        - "8000:8000"
      environment:
        DATABASE_URL: postgres://postgres:postgre@pgdb:5432/purbeurre
        SECRET_KEY: ${SECRET_KEY}
        DEBUG: 'False'
      depends_on:
        - pgdb
      networks:
        - monreseau

    pgdb:
      image: postgres:13
      environment:
        POSTGRES_DB: purbeurre
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgre
        POSTGRES_HOST_AUTH_METHOD: trust
      volumes:
        - postgres_data:/var/lib/postgresql/data
      networks:
        - monreseau

volumes:
  postgres_data:

networks:
  monreseau:
