version: '3.8'

services:
    django:
      build:
        context: .
        dockerfile: Dockerfile
      volumes:
        - .:/app
      ports:
        - "8000:8000"
      environment:
        DJANGO_ENV: cicd
        DATABASE_URL: postgres://$DB_USER:$DB_PASSWORD@pgdb:5432/$DB_NAME
        POSTGRES_DB: $DB_NAME # new
        SECRET_KEY: $SECRET_KEY
        DEBUG: 'True'  # Vous pouvez régler DEBUG comme nécessaire pour l'environnement de production
      depends_on:
        - pgdb
      networks:
        - monreseau

    pgdb:
      image: postgres:13
      environment:
        POSTGRES_DB: $DB_NAME
        POSTGRES_USER: $DB_USER
        POSTGRES_PASSWORD: $DB_PASSWORD
        POSTGRES_HOST_AUTH_METHOD: trust
      volumes:
        - postgres_data:/var/lib/postgresql/data
      networks:
        - monreseau

volumes:
  postgres_data:

networks:
  monreseau:
