version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "python3 manage.py test app_users.tests.CustomUserTests && \
                    python3 manage.py test app_manage.tests.SearchTestCase && \
                    python3 manage.py test app_manage.tests.BasePageTestCase && \
                    python3 manage.py test app_manage.tests.TermesPageTestCase && \
                    python3 manage.py collectstatic --no-input"
    volumes:
      - .:/app
    environment:
      DATABASE_URL: postgres://postgres:postgre@pgdb:5432/purbeurre
      SECRET_KEY: 'django-insecure-^a-59(+zq-hg3=-p+aejc%znju13kz(a-yln_ly4-ee7pl*f8'
      DEBUG: 'True'
    depends_on:
      - pgdb
    networks:
      - monreseau

  pgdb:
    image: postgres:13
    environment:
      POSTGRES_DB: purbeurre
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgre
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - monreseau

volumes:
  postgres_data:

networks:
  monreseau:


