name: Django app CI/CD

on:
  push:
    branches: '**'

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Build Docker image and Run Tests
      run: |
        docker-compose -f docker-compose.ci.yml up --build --exit-code-from django

#  deploy:
#    runs-on: ubuntu-latest
#    needs: build_and_test
#    if: github.ref == 'refs/heads/main'  # Adjust with the name of your main branch if it's different.
#
#    steps:
#    - name: Checkout Code
#      uses: actions/checkout@v2
#
#    - name: Login to DigitalOcean Container Registry
#      uses: docker/login-action@v1
#      with:
#        registry: registry.digitalocean.com
#        username: ${{ secrets.DO_REGISTRY_USERNAME }}
#        password: ${{ secrets.DO_REGISTRY_TOKEN }}
#
#    - name: Build and push Docker image
#      run: |
#        docker-compose -f docker-compose.prod.yml build web
#        docker tag my-django-app:latest registry.digitalocean.com/my-project/my-app:$GITHUB_SHA
#        docker push registry.digitalocean.com/my-project/my-app:$GITHUB_SHA
#
#    - name: Deploy to DigitalOcean
#      uses: digitalocean/action-doctl@v2
#      with:
#        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
#        args: kubernetes cluster update my-cluster --update-kubeconfig
#
#    - name: Set Kubernetes context
#      run: kubectl config use-context do-nyc1-my-cluster
#
#    - name: Deploy app
#      run: |
#        kubectl set image deployment/my-app my-app=registry.digitalocean.com/my-project/my-app:$GITHUB_SHA
#        kubectl rollout status deployment/my-app

