name: Django app CI/CD

on:
  push:
    branches: '**'

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Build Docker image and Run Tests
      env:
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        # Ajoutez d'autres secrets si nécessaire...
      run: |
        docker-compose -f docker-compose.ci.yml up --build --exit-code-from django

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_test  # Assurez-vous que cette étape ne s'exécute que si la précédente réussit
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Deploy with docker-compose on DigitalOcean
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DO_HOST }}
        username: ${{ secrets.DO_USERNAME }}
        password: ${{ secrets.DO_PASSWORD }}
        script: |
          cd /path/on/droplet
          docker-compose -f docker-compose.prod.yml up --build -d